/*nav, footer {
    background-color: orange !important;
    border-color: orange !important;
}

nav a, nav p, nav .navbar-brand, nav .navbar-link, footer .navbar-text, footer .navbar-link {
    color: #000 !important;
}*/

main {
    padding-top: 56px;
    padding-left: 3px;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
 
}
.carousel .one {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../pics/sunset.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../pics/play.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../pics/2.png);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}